__pycache__/
*.pyc
.venv/
.env
.ruff_cache/
.pytest_cache/
dist/
*.egg-info/
web/db.sqlite3
web/staticfiles/
web/var/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
